main{
    color: #0a557a;
    .actividad{
        text-align: center;
        width: 60%;
        margin: 3rem auto;
        p{
            padding: 1rem;
        };
        // convertir en variable
        .casilla:hover{
            background-color: $color-hover;
            transition: all 0.5s ease-in;
            border-radius: 20px;
        
        }
        .found h4:hover{
            font-size: 1.8rem;
            transition: all 0.7s ease-in;
            
            }
    }
    .grid-found{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-areas: 
        ". . found found found found";
    }
    .found{
        grid-area: found;
        text-align: justify;
        width: 90%;
    }
}
/* estilos nosotros */
.nosotros{
    
    display: grid;
    grid-template-columns: (6, 1fr);
    grid-template-rows: (1fr 1fr 1fr);
    grid-template-areas: 
    ". . mision mision mision"
    "vision vision vision . ."
    ". . objetivos objetivos objetivos";
    color: $font-ppal;

    /* definiendo areas */
.n1{
    grid-area: mision;
    width: 70%;
    margin: auto;
    text-align: justify;
    padding:1rem 2rem;
    &:hover{
        background-color: $color-hover;
        transition: all 0.5s ease-in;
        border-radius: 20px;
        }
}
.n2{
    grid-area: vision;
    width: 70%;
    margin: 1rem;
    text-align: justify;
    padding:1rem 2rem;
    &:hover{
        background-color: $color-hover;
        transition: all 0.5s ease-in;
        border-radius: 20px;
            }
    }
.n3{padding:1rem 2rem;
    grid-area: objetivos;
    width: 70%;
    margin: auto;
    text-align: justify;
    &:hover{
        background-color: $color-hover;
        transition: all 0.5s ease-in;
        border-radius: 20px; 
        }
    }
h2{
    text-align: center;
    margin: 2rem;
}
}

.ley{
    text-align: justify;
    margin-bottom: 2rem; 
    color: $font-ppal;
    width: 80%; 
    margin:2rem auto ;
    padding: 2rem;
    h3{
        color: $font-ppal;
        text-align: center;
    }
    li{
        list-style:decimal;
    }
    &:hover{
        background-color: $color-hover;
        transition: all 0.5s ease-in;
        border-radius: 20px; 
        }
}
.productos{
    width: 85%;
    margin: auto;
    margin-top: 3rem;
    color: $font-ppal;
}
.formulario{
    width: 70%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: justify;

}


